body {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 800px;
    font-size: 0.9em;
    color: rgb(0, 0, 0);
    font-family: Verdana;
    background-color: rgb(234, 234, 234);

}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited {
    color: #6d6d6d;
    text-decoration: none
}
a:hover {
    color: #6d6d6d;
    text-decoration: underline
}
a:active {
    color: #6d6d6d;
    text-decoration: underline
}

.main_container {
    min-width: 700px;
}
.main_top {
    border: 1px rgba(0,0,0,0.3) solid;
    display: block;
    height: 75px;
    margin: 5px;
    position: relative;
    padding: 0;
}

.main_context_info_top {
    background-color: rgb(255, 252, 190);
    border: 1px rgba(0,0,0,0.3) solid;
    padding: 2px 0;
    margin: 5px;
}

.main_bottom {
    background-color: rgb(234, 234, 234);
    padding: 0px;
    margin: 5px;
    height: 80px;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    border: 1px rgba(0,0,0,0.3) solid;
}

.main_middle {
    display: inline-block;
}

.main_middle_left {
    _background-color: #ece3a5;
    float: left;
    padding: 5px;
    width: 320px;
}

.main_right {
    _background-color: #ece3a5;
    float: right;
    padding: 5px;
    width: 150px;
}

.center_content {
    background-color: rgb(234, 234, 234);
    padding: 5px;
    position: relative;
}

.main_content {
    _background-color: #dddddd;
    padding: 5px;
    margin-left: 330px;
}

.right_content {
    _background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.main_top a:link, .main_top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

.main_top a:link:hover, .main_top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


.main_container {
    width: 94%;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: Verdana;
    background-color: rgb(255, 255, 255);
}

.main_top_welcome {
    background: url('../img/logo_rus.gif.xhtml') no-repeat;
    width: 205px;
    height: 45px;
    display: inline-block;
    margin: 14px;
    float: left;
}

.main_top_logo {
    background: url('../img/logo-background.gif.xhtml') no-repeat;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
    width: 400px;
}