.ui-corner-all {
    border-radius: 0px !important;
}

.ui-state-default{
    background: rgb(249, 243, 0) !important;
    box-shadow: none !important;
    border-top: 1px solid rgb(168, 168, 168);
}

input.ui-state-default,
input.ui-state-default:hover,
input.ui-state-default:focus,
.ui-chkbox-box.ui-state-default,
.ui-chkbox-box.ui-state-default:focus {
    background: white !important;
}


.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus {
    background: rgb(255, 252, 190) !important;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 0 8px rgba(249, 243, 112, .1);
    color: #313131;
    font-weight: bold;
}

.rf-button-min {
    background-color: rgb(255, 252, 190) !important;
    border: 1px solid black !important;
    border-radius: 3px !important;
    color: black !important;
    cursor: pointer !important;
    font-size: 0.85em !important;
    font-weight: 500 !important;
    padding: 0 10px !important;
    margin: 3px 10px;
    text-align: center;
    text-decoration: none !important;
}

.rf-button-min:hover {
    background-color: rgb(249, 243, 0);
}

.rf-button-min::hover {
    background-color: rgb(249, 243, 0);
}

.rf-button {
    background-color: rgb(255, 252, 190) !important;
    border: 1px solid black !important;
    border-radius: 3px !important;
    color: black !important;
    cursor: pointer !important;
    font-size: 1em !important;
    font-weight: 600 !important;
    padding: 3px 10px !important;
    margin: 3px 10px;
    text-align: center;
    text-decoration: none !important;
}

.rf-button:hover {
    background-color: rgb(249, 243, 0);
}

.rf-button::hover {
    background-color: rgb(249, 243, 0);
}

/* ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  */
.ui-button {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    overflow: visible;
    padding: 0 10px !important;
    position: relative;
    text-align: center;
    text-decoration: none !important;
}

.ui-button-text-only .ui-button-text {
    padding: 0 !important;
}

.width_150px {
    width: 150px !important;
}

.width_350px {
    width: 350px !important;
}

.pdg-rght25 {
    padding-right: 25px !important;
}

.txt-algn-rght {
    text-align: right !important;
}

.txt-algn-lft {
    text-align: left !important;
}

.ln-hgth3 {
    line-height: 3;
}

.mrgn-rght-15px {
    margin-right: 15px !important;
}

.mrgn-lft-15px {
    margin-left: 15px !important;
}

.mrgn-bttm-15px {
    margin-bottom: 15px !important;
}

.mrgn-tp-15px {
    margin-top: 15px !important;
}

.ui-widget-header {
    background: rgb(255, 252, 190) !important;
}

.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 1em;
}

.menu_active_item {
    background-color: rgb(255, 252, 190);
}