body {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 800px;
    min-width: 500px;

    font-size: 11px;
    color: rgb(0, 0, 0);
    font-family: Verdana;
    background-color: rgb(234, 234, 234);

}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited {
    COLOR: #6d6d6d;
    TEXT-DECORATION: none
}
a:hover {
    COLOR: #6d6d6d;
    TEXT-DECORATION: underline
}
a:active {
    COLOR: #6d6d6d;
    TEXT-DECORATION: underline
}

.width_150px {
    width: 150px;
}

.width_350px {
    width: 350px;
}

.pdg-rght25 {
    padding-right: 25px;
}

.txt-algn-rght {
    text-align: right;
}

.ln-hgth3-5 {
    line-height: 3.5;
}

.ui-corner-all {
    border-radius: 0px !important;
}

.ui-state-default{
    background: rgb(249, 243, 0) !important;
    box-shadow: none !important;
    border-top: 1px solid rgb(168, 168, 168);
}

input.ui-state-default {
    background: white !important;
}

.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus {
    background: rgba(249, 243, 0, .15) !important;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 0 8px rgba(249, 243, 112, .1);
    color: #313131;
    font-weight: bold;
}

.rf-button {
    background-color: rgb(255, 252, 190);
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 0 10px;
    margin: 3px 0;
}

.rf-button:hover {
    background-color: rgb(249, 243, 0);
}

.rf-button:before {
    content: '.';
    padding-left: 10px;
}


.mrgn-rght-15px {
    margin-right: 15px;
}

.mrgn-lft-15px {
    margin-left: 15px;
}